# extensions
*.egg-info
*.py[cod]

# envs
.pt13
.pt2

# directories
/checkpoints
/dist
/outputs
/build
/src
/data
/logs
/log

/.data
/.github
/.vscode
/__pycache__

# data
/objaverse-rendering
/objaverse-rendering-*
/data
/model_licenses
/views_release

CODEOWNERS
LICENSE-CODE
README-*
pytest.ini